<div class="container pt-3 pb-5">
<%= link_to new_order_payment_path(@delivery_info.order), class: "prev-page-link" do %>
  <%= image_tag 'back-icon.svg' %>
<% end %>
  <div class="card-wrapper py-4 px-4" style="min-height: 50vh">
    <%= render 'orders/order', order: @delivery_info.order, show_link: false %>
    <h1 class="card-title new-delivery-info-form-title">Inserisci le informazioni per la consegna</h1>
    <%= simple_form_for [@order, @delivery_info] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :first_name, label: "Nome" %>
      </div>
      <div class="col-md-6">
        <%= f.input :last_name, label: "Cognome" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.input :street, label: "Via"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :city, label: "Città" %>
      </div>
      <div class="col-md-4">
        <%= f.input :zip_code, label: "Cap"  %>
      </div>
      <div class="col-md-4">
        <%= f.input :state, label: "Provincia"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Recapito Telefonico</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">+39
            </div>
          </div>
          <input type="text" name="delivery_info[phone_number]" value="<%= @delivery_info.phone_number %>"class="form-control" id="inlineFormInputGroup" placeholder="">
        </div>
      </div>
      <div class="col-md-6">
          <%= f.input :email %>
      </div>
    </div>
    <%= f.input :notes, label: "Note per la consegna (facoltativo)" %>
    <%= f.button :submit, "Conferma i dati", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
