<div class="dashboard-header">
  <h3><%= current_shop.store.name.capitalize %></h3>
  <div>
  <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
    <p><%= Date.today.strftime("%A, %b %d") %></p>
  </div>
</div>

<div class="dashboard-container">
  <div class="shop-dashboard-sidebar">
    <%= link_to shop_products_view_path, class:"shop-dashboard-sidebar-link", remote: true do  %>
      <div class="">
        Prodotti
      </div>
    <% end %>
    <%= link_to shop_store_path(current_shop.store), class:"shop-dashboard-sidebar-link", remote: true do  %>
      <div class="">
        Negozio
      </div>
    <% end %>
    <%= link_to shop_orders_path, class:"shop-dashboard-sidebar-link", remote: true do  %>
      <div class="">
        Ordini
      </div>
    <% end %>
    <%= link_to destroy_shop_session_path, class:"shop-dashboard-sidebar-link", method: :delete do  %>
      <div class="">
        Log Out
      </div>
    <% end %>
  </div>
  <div class="dashboard-container-main-window">
  <%= link_to "Connect with Stripe", "https://connect.stripe.com/express/oauth/authorize?redirect_uri=#{stripe_connect_url}&client_id=#{ENV["STRIPE_CLIENT_ID"]}" %>

  </div>
</div>


<script type="text/javascript">
  function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";

    if(h == 0){
        h = 12;
    }

    if(h > 12){
        h = h - 12;
        session = "PM";
    }

    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;

    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;

    setTimeout(showTime, 1000);

}

showTime();
</script>
