<% show = show || nil %>
<div data-store-card="<%= store.id %>" class="card-wrapper store-card <%= 'shop-page' if show %>">
  <div class="store-card__img <%= 'shop-page' if show %>">
    <i class="carousel-card-arrow fas fa-chevron-left" data-id="<%= store.id %>"></i>
    <img class="active" data-image-store="<%= store.id %>" src="https://www.resmina.it/Resmina/Home/slider/Salumi_02.jpg">
    <img data-image-store="<%= store.id %>" class="active" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQs07YaGZWNtWF495qGa7Lhm03yrGXp_3K3cOUYUu1EmMULfWG&usqp=CAU">
    <img data-image-store="<%= store.id %>" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQMvABOdpKCjEuf5tSxCGtXt-uiS2CJDxxYHW9W5UwhcHyAdYb&usqp=CAU">
    <i class="fas fa-chevron-right" data-id="<%= store.id %>"></i>
  </div>
  <%= link_to store do %>
  <div class="store-card__body <%= 'shop-page' if show %>">
    <div class="store-card__body__title">
      <div class="store-card__body__categories">
        <% store.categories_name.each do |c| %>
          <span class=""><%= c %></span>
        <% end %>
      </div>
      <h1><%= store.name %></h1>
      <p><%= short_address(store) %></p>
    </div>
    <div class="store-card__body__description <%= 'index' if action_name == "index" %>">
      <p><%= store.description.truncate(70) %></p>
    </div>
    <div class="store-card__body__delivery">
      <p>Consegna Entro domani ore 12.00</p>
    </div>
  </div>
  <% end %>
</div>



