<% show = show || nil %>
<div data-store-card="<%= store.id %>" class="card-wrapper store-card <%= 'shop-page' if show %>">
  <div class="store-card__img <%= 'shop-page' if show %>">
    <% if store.store_pictures.empty? %>
        <%= image_tag 'no-picture-product.png' %>
    <% else %>
    <i class="carousel-card-arrow fas fa-chevron-left" data-id="<%= store.id %>"></i>
      <%= store.store_pictures.each_with_index do |photo, i| %>
        <%= cl_image_tag photo.picture.key, height: 300, width: 400, crop: :fill,class:"w-100 img-fluid #{'active' if i.zero?}", data: {image_store: store.id} %>
      <% end %>
    <i class="fas fa-chevron-right" data-id="<%= store.id %>"></i>
    <% end %>
  </div>
  <%= link_to store do %>
  <div class="store-card__body <%= 'shop-page' if show %>">
    <div class="store-card__body__title">
      <div class="store-card__body__categories">
        <% store.categories_name.each do |c| %>
          <span class=""><%= c %></span>
        <% end %>
      </div>
      <h1><%= store.name %></h1>
      <p><%= short_address(store) %></p>
    </div>
    <div class="store-card__body__description <%= 'index' if action_name == "index" %>">
      <p><%= store.description.truncate(70) %></p>
    </div>
    <div class="store-card__body__delivery">
      <% if store.delivery_time %>
        <%= image_tag 'delivery-truck.svg' %>
        <p><%= stringify_delivery_duration(store) %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>



