<div class="navbar-top" data-turbolinks="false">
  <div class="navbar-top__left">
    <div class="navbar-top__logo">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="navbar-top__form">
      <form id="navbar-search-form" action="/stores" method="GET">
        <div>
          <input type="text" name="query" class="form-control" placeholder="Cerca un paese..." id="navbar-search-form-input" value="<%= session[:place_query] %>"autocomplete="off">
        </div>
      </form>
    </div>
  </div>
  <div class="navbar-top__links">
    <% if user_signed_in? %>
    <% else %>
    <%= link_to "Accedi", new_access_modal_users_path, remote: true %>
    <%= link_to "Registrati", new_access_modal_users_path, remote: true %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="navbar-top__user">
  <div class="navbar-top__cart">
    <div class="navbar-top__cart__info">
      <p>Il mio carrello:</p>
      <span class="total-price-in-basket"><%= total_price_in_cart(current_user) %>€</span>
    </div>
    <%= link_to carts_path do %>
    <div class="navbar-top__cart__img">
      <div class="total_products_in_cart"><%= product_in_cart(current_user) %>
      </div>
      <%= image_tag 'cart-logo.svg' %>
    </div>
    <% end %>
  </div>
  <div class="navbar-top__account">
    <%= image_tag 'person.svg' %>
  </div>

  </div>
  <% end %>
  <div class="navbar-link-menu hidden">
    <div class="content">
      <div class="link">
        <%= link_to "Il tuo Profilo", user_dashboard_path %>
        <%= image_tag 'person.svg' %>
      </div>
      <div class="link">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= image_tag 'logout.svg' %>
      </div>
    </div>
  </div>
</div>
