<div class="cart-product-card">
  <div class="row">
  <div class="col-md-2 col-6 cart-product-card__img">
    <% if cart_product.product.photo.attached? %>
      <%= cl_image_tag cart_product.product.photo.key, width:150, height:200, crop: :fill %>
    <% else %>
      <%= image_tag 'no-picture-product.png' %>
    <% end %>
  </div>
  <div class="col-md-3 col-6">
    <h3><%= cart_product.product.name %></h3>
    <p><%= current_price(cart_product.product) %>€ / <%= cart_product.product.sold_by %> </p>
  </div>
  <div class="col-md-3 col-5 cart-product-card__quantity">
    <h3>Quantità:</h3>
    <div>
      <span data-id="quantity-<%=cart_product.id%>" class="quantity-ordered"><%= cart_product.quantity %></span>
      <p class="unit-type"><%= package_type(cart_product.product, cart_product.quantity) %></p>

    </div>
  </div>
    <div class="col-md-3 col-5 cart-product-card__price">
      <h3>Prezzo Totale:</h3>
      <span class="product-total-price"><%= cart_product.price %>€</span>
    </div>
  <div class="col-md-1 col-2 cart-product-card__delete">
  </div>
  </div>
</div>
