<div class="container py-5">
  <div class="card-wrapper py-4 px-4" style="min-height: 50vh">
    <div class="cart-title-wrapper">
      <h1 class="card-title">Riepilogo dell'ordine</h1>
    </div>
      <div class="cart-header">
        <h3 class="card-subtitle"><%= @order.store.name %></h3>
        <p><%= short_address(@order.store) %></p>
      </div>
        <% @order.cart_products.each do |cart_product| %>
            <%= render 'orders/order_product', cart_product: cart_product %>
          <% end %>
          <div class="row py-3">
            <div class="col-md-8 delivery-time-box">
              <h3 class="">Consegna Entro:</h3>
              <p>Venerdì 12 aprile 2020. Ore 12.00</p>
            </div>
            <div class="col-md-3 cart-total-price-card">
              <h3 class="cart-total-price-text">Totale Ordine: </h3>
              <span class="cart-total-price"><%= prettify_price(@order.amount_cents) %>€</span> <br/>
              <div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 total-price-row">
              <% if policy(@order.cart).edit? %>
                <%= link_to "Modifica l'ordine", edit_order_path(@order), class: 'btn btn-primary' %>
                <%= link_to "Cancella l'ordine", order_path(@order), method: :delete, class: 'btn btn-secondary mt-2' %>
              <% end %>
            </div>

            <div class="col-md-3 offset-md-5 total-price-row">
              <% if policy(DeliveryInfo.new(order: @order)).new? %>
                <%= link_to "Completa l'acquisto", new_order_delivery_info_path(@order), class: 'btn btn-primary' %>
              <% end %>
              <% if policy(@order).can_be_payed? %>
                <%= link_to "Paga l'ordine", new_order_payment_path(@order), class: 'btn btn-primary' %>
              <% end %>

            </div>
          </div>
  </div>

  </div>
</div>
