<% if !current_merchant.stripe_merchant_id %>
  <%= render 'stripe_connection_page' %>
<% else %>
  <nav class="navbar navbar-light bg-light align-items-center">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <%= current_merchant.store.name.capitalize %>
    </a>
    <div class="d-flex">
      <div id="MyClockDisplay" class="clock mr-4" onload="showTime()"></div>
      <p class="m-0 mr-3" ><%= Date.today.strftime("%A, %b %d") %></p>
      <%= link_to destroy_merchant_session_path, class:"", method: :delete, data: {confirm: "Clicca OK per eseguire il logout"} do  %>
          Log Out
      <% end %>
    </div>
  </div>
</nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 border-right">
        <div class="nav flex-column nav-pills pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <%= link_to merchant_products_view_path, class:"nav-link active", remote: true do  %>
            <div class="">
              Prodotti
            </div>
          <% end %>
          <%= link_to merchant_store_path(current_merchant.store), class:"nav-link", remote: true do  %>
            <div class="">
              Informazioni Negozio
            </div>
          <% end %>
          <%= link_to delivery_policy_store_path(current_merchant.store), class:"nav-link", remote: true do  %>
            <div class="">
              Informazioni per le consegne
            </div>
          <% end %>
          <%= link_to photos_store_path(current_merchant.store), class:"nav-link", remote: true do  %>
            <div class="">
              Foto Negozio
            </div>
          <% end %>
          <%= link_to store_orders_path(current_merchant.store), class:"nav-link", remote: true do  %>
            <div class="">
              Ordini
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-10 dashboard-container-main-window">

      </div>
    </div>
  </div>
<% end  %>
