  <div class="container card-wrapper p-5 my-5">
    <%= link_to stores_path, class: "prev-page-link" do %>
      <%= image_tag 'back-icon.svg' %> Torna alla lista negozi
    <% end %>
  <div class="row">
      <div class="card-wrapper py-4 px-4" style="min-height: 50vh">
    <% if @carts.empty? %>
      <%= render 'no-products-cart' %>
    <% else %>
     <h1 class="card-title">I prodotti nel tuo carrello</h1>
      <% @carts.each do |cart| %>
      <div data-cart-id="<%= cart.id %>">
      <div class="cart-header">
        <h3 class="card-subtitle"><%= cart.store.name %></h3>
        <p><%= short_address(cart.store) %></p>
        <%= link_to "Continua ad acquistare da #{cart.store.name}", cart.store  %>
      </div>
          <% cart.cart_products.each do |cart_product| %>
            <%= render 'cart_products/cart_product', cart_product: cart_product %>
          <% end %>
          <div class="row pt-3">
            <div class="col-md-7 cart-delivery-infos">
              <%= image_tag 'delivery-truck.svg' %>
              <div>
                <h3 class="card-subtitle">Acquista ora e riceverai l'ordine entro:</h3>
                <p><%= stringify_delivery_day(cart) %></p>
              </div>
            </div>
            <div class="col-md-4  cart-total-price-card">
              <h3 class="cart-total-price-text">Totale Carrello: </h3>
              <span data-id="cart-<%=cart.id%>" class="cart-total-price"><%= humanized_money_with_symbol(cart.total_price/ 100.0) %></span> <br/>
              <div>
              </div>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-4 offset-md-7 ">
              <div class="cart-total-price-card">
                <h3 class="cart-total-price-text">Spese di consegna: </h3>
                <span data-id="cart-<%=cart.id%>" class="cart-total-price">
                  <% if free_delivery?(cart) %>
                    0.00€
                  <% else %>
                    <%= humanized_money_with_symbol(cart.store.delivery_fee) %>
                  <% end %>
                </span>
              <br/>
              </div>
              <small data-free-delivery-info="<%= cart.id %>">
                <%= render 'free_delivery_info', cart: cart %>
              </small>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-4 offset-md-7 cart-total-price-card">
              <h3 class="cart-total-price-text">Totale Ordine: </h3>
                <span data-cart-partial-with-delivery="<%=cart.id%>" class="cart-total-price">
                  <%= humanized_money_with_symbol(partial_total_amount(cart))%>
                </span>
              <br/>
              <div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-md-7 total-price-row">
              <% if cart.order %>
                <%= link_to "Vedi l'ordine", order_path(cart.order), class: 'btn btn-primary' %>
              <% end %>

              <% if policy(Order.new(cart: cart)).create? %>
                <%= link_to "Completa l'acquisto", cart_orders_path(cart), method: :post, class: 'mt-2 btn btn-primary w-100' %>
              <% end %>
                <%= link_to "Cancella il carrello", cart_path(cart), method: :delete, class: 'btn btn-secondary w-100 mt-2' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
