<div class="container pt-3">
  <%= link_to "< Torna alla lista negozi", stores_path, class: "prev-page-link" %>
  <div class="row">
      <div class="card-wrapper py-4 px-4" style="min-height: 50vh">
    <% if @carts.empty? %>
       <h1 class="card-title">Non hai prodotti nel carrello</h1>
      <h3>Sfoglia tra i negozi e scohpri le delizie locali!</h3>
    <% else %>
     <h1 class="card-title">I prodotti nel tuo carrello</h1>
      <% @carts.each do |cart| %>
      <div class="cart-header">
        <h3 class="card-subtitle"><%= cart.store.name %></h3>
        <p><%= short_address(cart.store) %></p>
        <%= link_to "Continua ad acquistare da #{cart.store.name}", cart.store  %>
      </div>
          <% cart.cart_products.each do |cart_product| %>
            <%= render 'cart_products/cart_product', cart_product: cart_product %>
          <% end %>
          <div class="row py-3">
            <div class="col-md-3 offset-md-8 cart-total-price-card">
              <h3 class="cart-total-price-text">Totale Ordine: </h3>
              <span data-id="cart-<%=cart.id%>" class="cart-total-price"><%= prettify_price(cart.total_price) %>€</span> <br/>
              <div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 offset-md-8 total-price-row">
              <% if cart.order %>
                <%= link_to "Vedi l'ordine", order_path(cart.order), class: 'btn btn-primary' %>
              <% end %>

              <% if policy(Order.new(cart: cart)).create? %>
                <%= link_to "Completa l'acquisto", cart_orders_path(cart), method: :post, class: 'btn btn-primary' %>
              <% end %>
                <%= link_to "Cancella l'ordine", cart_path(cart), method: :delete, class: 'btn btn-secondary mt-1' %>
            </div>
          </div>

      <% end %>
    <% end %>
  </div>

  </div>
</div>
