<div class="" style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 20px 60px; background-color: white; margin: 0 auto">

  <h1 style="text-align: inherit;font-family: 'Open Sans', sans-serif;margin-bottom: 1rem !important; margin-bottom: 8px; font-size:2.5rem">Grazie per aver acquistato da BuyLocal</h1>
  <h5 style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-weight: 300; color: gray; font-size: 30px;margin-top: 0px">Il pagamento del tuo ordine è andato a buon fine!</h5>

  <div style="display: flex;justify-content: start;align-items:center;">
    <%= image_tag attachments['truck.svg'].url, style:"width: 40px;margin-right: 20px;" %>
    <div style="display: flex;flex-direction: column;justify-content: space-around;">
      <h3 style="font-weight: 100;font-size: 20px;margin-top: 0px;margin-bottom: 3px">La spedizione è prevista per:</h3>
      <p style=" margin-bottom: 3px;margin-top: 0px"><%= stringify_delivery_day(@order.cart) %></p>
    </div>
  </div>

  <h1 style=" margin-top: 30px;text-align: inherit;font-family: 'Open Sans', sans-serif;margin-bottom: 1rem !important;">Riepilogo dell'ordine</h1>
  <div class="container py-3">
    <div class="mb-4">
      <h3 style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-weight: 100;font-size: 20px;margin-bottom: 6px;">Dettagli per la consegna</h3>
      <p style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 100;margin-bottom: 3px; margin-top: 0px;color: #717171;"><%= @order.delivery_info.first_name %> <%= @order.delivery_info.last_name %></p>
      <p style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 100;margin-bottom: 3px; margin-top: 0px;color: #717171;"><%= @order.delivery_info.street %>, <%=  @order.delivery_info.city %></p>
      <p style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 100;margin-bottom: 3px; margin-top: 0px;color: #717171;"><%= @order.delivery_info.zip_code %>, <%=  @order.delivery_info.state %></p>
      <p style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 100;margin-bottom: 30px;color: #717171;"> +39<%=  @order.delivery_info.phone_number %> /<%=  @order.delivery_info.email %></p>
    </div>
  </div>
  <div class="py-3">
    <div class="mb-4">
      <h3 style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-weight: 100;font-size: 20px;margin-bottom: 6px;"><%= @order.store.name %></h3>
      <p style="text-align: inherit;font-family: 'Open Sans', sans-serif;font-size: 14px;font-weight: 100;margin-bottom: 30px;color: #717171;"><%= address_street(@order.store) %></p>
      <table style="text-align: inherit;font-family: 'Open Sans', sans-serif;width: 100%;
      margin-bottom: 1rem;
      color: #212529;">
      <thead>
        <tr>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">#</th>
    <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">CODICE</th>
    <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">NOME</th>
    <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">QUANTITA' ORDINATA</th>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">PREZZO UNITA'</th>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">PREZZO TOTALE</th>
        </tr>
      </thead>
      <tbody>
        <% @order.cart_products.each_with_index do |cart_product, i| %>
        <tr>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;">
      <%= i + 1 %>

      </th>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;">87378</td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= cart_product.product.name  %></td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= cart_product.quantity %> <%= package_type(cart_product.product,cart_product.quantity ) %></td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= cart_product.product.price %>€</td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= cart_product.price %>€</td>
        </tr>
        <% end %>
        <tr>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;" colspan="2"></th>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;" colspan="2"></td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;">TOTALE ORDINE</td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= @order.cart_amount %>€</td>
        </tr>
        <tr>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;" colspan="2"></th>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;" colspan="2"></td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;">SPESE DI SPEDIZIONE</td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= @order.delivery_fee %>€</td>
        </tr>
        <tr>
          <th style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: none !important" colspan="2"></th>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: none !important" colspan="2"></td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;">TOTALE</td>
          <td style="text-align: inherit;font-family: 'Open Sans', sans-serif;padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;font-size: 16px;font-weight: 100;margin-bottom: 4px !important;"><%= @order.total_amount %>€</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


</div>
