<div class="container pt-3">
  <div class="card-wrapper py-4 px-4" style="min-height: 50vh">
    <div class="cart-title-wrapper">
      <div class="mb-4">
        <h1 class="card-title">Riepilogo dell'ordine</h1>
        <h3 class="card-subtitle">Indirizzo di spedizione</h3>
        <p class="card-subtitle-small"><%= @order.delivery_info.first_name %> <%= @order.delivery_info.last_name %></p>
        <p class="card-subtitle-small"><%= @order.delivery_info.street %>, <%=  @order.delivery_info.city %></p>
        <p class="card-subtitle-small"><%= @order.delivery_info.zip_code %>, <%=  @order.delivery_info.state %></p>
        <p  class="card-subtitle-small">+39<%=  @order.delivery_info.phone_number %> / <%=  @order.delivery_info.email %></p>
      </div>
      <div class="order-status-box">
        <h3 class="card-subtitle">Stato dell'ordine:</h3>
        <p class="card-subtitle-small"><%= current_status(@order) %></p>
      </div>
    </div>
      <div class="cart-header">
        <h1 class="card-title mb-1" ><%= @order.store.name %></h1>
        <p><%= short_address(@order.store) %></p>
      </div>
        <% @order.cart_products.each do |cart_product| %>
            <%= render 'orders/order_product', cart_product: cart_product %>
          <% end %>
          <div class="row py-3">
            <div class="col-md-8 delivery-time-box">
              <h3 class="">Consegna Entro:</h3>
              <p>Venerdì 12 aprile 2020. Ore 12.00</p>
            </div>
            <div class="col-md-3 cart-total-price-card">
              <h3 class="cart-total-price-text">Totale Ordine: </h3>
              <span class="cart-total-price"><%= prettify_price(@order.amount_cents) %>€</span> <br/>
              <div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-3 offset-md-8 total-price-row">
              <button id="pay" class="w-100 btn btn-primary">Paga Ora</button>

              <script src="https://js.stripe.com/v3/"></script>
              <script>
                const paymentButton = document.getElementById('pay');
                paymentButton.addEventListener('click', () => {
                  const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                  stripe.redirectToCheckout({
                    sessionId: '<%= @order.checkout_session_id %>'
                  });
                });
              </script>
            </div>
          </div>

  </div>
</div>
