<tr data-product-id="<%= product.id%>">
  <th scope="row"><%= product.sku %></th>
  <td><%= product.category.name %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td>
    <% if product.discounted_price_cents != 0 %>
      <%= product.discounted_price %>€
    <% else %>
      ---
    <% end %>
  </td>
  <td><%= rand(30..70) %></td>
  <td>
    <i class="fas fa-circle product-availbility <%= product.available ? 'green' : 'red' %>" ></i>
  </td>
  <td>
    <%= link_to edit_merchant_product_path(product), remote: true do %>
      <i class="far fa-edit"></i>
    <% end %>
    <%= link_to merchant_product_path(product), remote: true do %>
      <i class="fas fa-external-link-alt"></i>
    <% end %>
    <%= link_to merchant_product_path(product), method: :delete, data:{confirm: "Sei sicuro di voler rimuovere #{product.name}?"}, remote: true, class:"ml-3 text-danger" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
