<form action="/merchant/products" method="get" class="" data-remote="true" id="merchant-product-filter-form">
  <div class="merchant-product-card">
    <div class="merchant-product-card-image">
    </div>
    <div class="merchant-product-card-category">
      <div class="filter-category-dropdown">Filtra</div>
      <div class="filter-catregory-checkboxes-container hidden">
        <% categories.each do |category| %>
        <div>
          <input id="<%= category.name %>" type="checkbox" name="categories[]" value="<%= category.id %>">
          <label for="<%= category.name %>"><%= category.name %></label>
        </div>
        <% end %>
      </div>
    </div>
    <div class="merchant-product-card-name">
      <input autocomplete="off" id="merchant-product-form-query" type="text" name="query" class="form-control" placeholder="Cerca un prodotto">
    </div>
    <div class="add-new-product-link-container">
      <%= link_to new_merchant_product_path, class:"btn btn-sm btn-dark", remote: true do %>
        <i class="fas fa-plus mr-2"></i>Aggiungi un prodotto
      <% end %>

    </div>

  </div>
 </form>


