
<div class="container pt-3">
  <h1>Anteprima del prodotto</h1>

  <div class="row">
    <div data-product-card-lg="" class="card-wrapper product-card-lg">
      <div class="product-card-lg__img">
        <img data-image-product="<%= product.id %>" class="active" src="https://loremflickr.com/320/240/dog">
      </div>
      <div class="product-card-lg__body">
        <div class="product-card-lg__body__title">
          <div class="product-card-lg__body__categories">
          </div>
          <h1 class="card-title"><%= product.name %></h1>
          <p><%= product.category.name %></p>
        </div>
        <% if product.on_sale? %>
          <del><%= product.price %>€</del>
          <span class="product-card__footer__price__integer"><%= integer_price(product) %></span><span class="product-card__footer__price__decimal"><%= decimal_price(product) %>€</span>

          /<span> <%= package_type(product) %></span>
      <% else %>
        <span class="product-card__footer__price__integer"><%= integer_price(product) %></span>.<span class="product-card__footer__price__decimal"><%= decimal_price(product) %>€ /</span>
        <span class="product-card__footer__sold-by"> <%= package_type(product) %></span>
        <% end %>

        <div class="product-card-lg__body__description">
          <p><%= product.description %></p>
        </div>
        <div class="product-card-lg__body__delivery">
        </div>
      </div>
    </div>




  </div>
</div>


